<div ng-show="declarationforfaitCtrl.step==1" >
    <form>
        <h1>{{'labels.declaration.choixdeclaration.declarationforfait.TITLE_DECLARATION_FORFAIT' | translate}}</h1>
        <p>{{'labels.declaration.choixdeclaration.declarationforfait.LABEL_DECLARATION_FORFAIT_INFO' | translate}}{{declarationforfaitCtrl.annee}}</p>
        <p>{{'labels.declaration.choixdeclaration.declarationforfait.LABEL_DECLARATION_FORFAIT_CONT' | translate}}</p>
        <h3>{{'labels.declaration.choixdeclaration.declarationforfait.LABEL_DECLARATION_FORFAIT_MONTANT' | translate}}</h3>
        <!-- <input id="ValideBtn" type="button" value="CONTINUER"  ng-click="declarationforfaitCtrl.SaveDeclarationForfait()"/>
        <a class="CloseBtn" href="/mon-espace/declaration/historique" >RETOUR</a>  -->  

        <div class="foot_acces_direct">
            <ul>
                <li> <button id="btn-grey" onclick='window.location.href="/mon-espace/declaration/historique"'>{{'labels.declaration.uvc.send_mails.LABEL_BTN_NO_VALIDATE' | translate}}</button></li>
                
                <li> <button class="suivant"  ng-click="declarationforfaitCtrl.SaveDeclarationForfait()">{{'labels.declaration.choixdeclaration.declarationforfait.LABEL_DECLARATION_FORFAIT_BTN' | translate}}
                </button></li>
            </ul>
        </div>
        
    </form>
</div>

<div ng-show="declarationforfaitCtrl.step=='controle_ecart'" >
    <data-controleecart data-declarationid="{{declarationforfaitCtrl.RecapDeclaration.IdDeclaration}}" onvalidate="declarationforfaitCtrl.step = 2" onback="declarationforfaitCtrl.goBackFromControlEcart()"></data-controleecart>
</div>


<div ng-show="declarationforfaitCtrl.step==2" ng-cloak>
    <form id="mail_form" name="mail_form" novalidate>

         <h1><strong>{{'labels.declaration.uvc.send_mails.TITLE' | translate}}</strong></h1>
        <p>{{'labels.declaration.uvc.send_mails.TITLE_ADD_MSG_1' | translate}} <br />
        {{'labels.declaration.uvc.send_mails.TITLE_ADD_MSG_2' | translate}} <br /> <br />
        {{'labels.declaration.uvc.send_mails.TITLE_ADD_MSG_3' | translate}}</p>

         <table class="tab_declaration ajout_desti">
            <tr>
                <td>
                     <img src="/sites/default/files/inline-images/pict_mail.png" class="marg-img" /><input type="email" name="email" ng-model="declarationforfaitCtrl.mailinput" ng-keyup="$event.keyCode == 13 && !mail_form.email.$invalid && !mail_form.email.$error.pattern && declarationforfaitCtrl.addMails()" ng-pattern="declarationforfaitCtrl.email_pattern" autocomplete="off" placeholder="{{'labels.declaration.uvc.send_mails.PLACEHOLDER_EMAIL' | translate}}" required>


                    <span ng-show="mail_form.email.$invalid && !mail_form.email.$pristine && mail_form.email.$error.pattern" class="help-block error">{{'labels.declaration.uvc.send_mails.LABEL_ERROR' | translate}}</span>
                </td>              
            <td></td>
            </tr>
            <tr ng-repeat="mail in declarationforfaitCtrl.mails">
                <td><input type="email" name="email" placeholder="{{mail}}" class="no-border" disabled ></td>                
                <td><div ng-click="declarationforfaitCtrl.removeMail(mail)" class="pict_delete">&nbsp;</div></td>                 
            </tr>
        </table>

         <input id="ajout" type="button" value="{{'labels.declaration.uvc.send_mails.LABEL_ADD_RECIPIENTS' | translate}}" ng-disabled="mail_form.$invalid" ng-click="declarationforfaitCtrl.addMails()">
        <br />

         <div class="foot_acces_direct">
            <ul>
                <li><input type="button" id="btn-grey" ng-click="declarationforfaitCtrl.saveMails()" value="{{'labels.declaration.uvc.send_mails.LABEL_BTN_NO_VALIDATE' | translate}}" /></li>
                <li><input type="checkbox" ng-model="checked" ng-click="selected()" /><label class="info-check">{{'labels.declaration.uvc.send_mails.LABEL_CERTIFIE' | translate}}</label></li>
                <li><input type="button" class="btn" ng-disabled="!checked" ng-click="declarationforfaitCtrl.valideMails()" value="{{'labels.declaration.uvc.send_mails.LABEL_BTN_VALIDATE' | translate}}" /></li>
            </ul>
        </div>


    </form>
</div>





