<div>
    <h1>{{'labels.relationClient.adhesionRep.ETAPE_3' | translate}} <br /> {{'labels.relationClient.adhesionRep.INTITULE_ETAPE_3' | translate}}</h1>

    <form id="adhesion-rep-3">
        <p>{{'labels.relationClient.adhesionRep.ETAPE_3_QUESTION_1' | translate}}</p>
        <input type="radio" value="Oui" id="oui" ng-model="adhesionRepCtrl.form_etape3_question1_rep" /> <label for="oui">{{'labels.relationClient.adhesionRep.REP_OUI' | translate}}</label>
        <input type="radio" value="Non" id="non" ng-model="adhesionRepCtrl.form_etape3_question1_rep" /> <label for="non">{{'labels.relationClient.adhesionRep.REP_NON' | translate}}</label>
    </form>
    <div class="form_validation">
        <a ui-sref="state2" ng-click="adhesionRepCtrl.removeStep3Session()">{{'labels.relationClient.adhesionRep.RETOUR' | translate}}</a>
        <input type="button" class="btn suivant" ui-sref="state4" ng-disabled="adhesionRepCtrl.form_etape3_question1_rep==undefined" ng-click="adhesionRepCtrl.etape3Validation(1,1,'Oui')" value="{{'labels.relationClient.adhesionRep.SUIVANT' | translate}}">
    </div>

</div>