<div class="mymodal">
  <h1>{{'labels.declaration.uvc.popin_suppression.TITLE' | translate}}</h1>
  <a class="close-icon" ng-click="historiqueCtrl.annuleModal()"></a>
<div>{{'labels.declaration.uvc.popin_suppression.COMFIRM_REMOVE_DECLARATION' | translate}}</div>
  <button type="button" ng-click="historiqueCtrl.SupprimerDeclaration()">{{'labels.transverse.BTN_SAUVEGARDER' | translate}}</button>
  <button type="button" class="btn-annuler" ng-click="historiqueCtrl.annuleModal()">{{'labels.transverse.BTN_ANNULER' | translate}}</button>
</div>