<div class="mymodal">
    <h1>  {{'labels.declaration.rpc.RPC_MERCI' | translate}} </h1>
    <!--<a class="close-icon" href="/mon-espace/declaration/accueil"></a>-->
    <a class="close-icon" ng-click="rpcCtrl.closeModal()"></a>

    <p>{{'labels.declaration.rpc.RPC_CONFIRMATION_1' | translate}}</p>
    <p>{{'labels.declaration.rpc.RPC_CONFIRMATION_2' | translate}}</p>

    <p>{{'labels.declaration.rpc.RPC_CONFIRMATION_3' | translate}} <a href="/mon-espace/declaration/documents/rpc" onclick="location.reload()">{{'labels.declaration.rpc.RPC_CONFIRMATION_4' | translate}}</a></p>
</div>