<div class="mymodal">
    <h1>  MERCI ! </h1>
    <!--<a class="close-icon" href="/mon-espace/declaration/accueil"></a>-->
    <a class="close-icon" ng-click="lancementrpcCtrl.closeModal()"></a>

    <p>Un email vient de vous être envoyé confirmant le lancement de la demande de mission RPC, </p>
    <p>la date de la déclaration concernée et le contact du professionnel que vous avez missionné. </p>

    <p>Retrouvez votrre demande dans <a href="/mon-espace/declaration/accueil">vos documents.</a></p>
</div>