<div>
    <div class="cursor" onclick="window.location.href='/mon-espace/declaration/excel/uvc'">
        <h3>{{'labels.declaration.choixdeclaration.widget_upload.titre' | translate}}</h3>
        <h4 class="slogan">{{'labels.declaration.choixdeclaration.widget_upload.DEPOT_FICHIER' | translate}}</h4>
        <p>{{'labels.declaration.choixdeclaration.widget_upload.MSG1' | translate}}</p>
        <button class="trans suivant-noir" onclick="window.location.href='/mon-espace/declaration/excel/uvc';">
            {{'labels.declaration.choixdeclaration.widget_upload.MSG2' | translate}}
        </button>
    </div>
</div>


