<div ui-view>
    <h1>{{'labels.relationClient.adhesionRep.ETAPE_1' | translate}} <br /> {{'labels.relationClient.adhesionRep.INTITULE_ETAPE_1' | translate}}</h1>

    <form id="adhesion-rep-1">
        <p>{{'labels.relationClient.adhesionRep.ETAPE_1_QUESTION_1' | translate}}</p>
        <input type="radio" value="Oui" id="oui" ng-model="adhesionRepCtrl.form_etape1_question1_rep" /> <label for="oui">{{'labels.relationClient.adhesionRep.REP_OUI' | translate}}</label>
        <input type="radio" value="Non" id="non" ng-model="adhesionRepCtrl.form_etape1_question1_rep" /> <label for="non">{{'labels.relationClient.adhesionRep.REP_NON' | translate}}</label>
    </form>

    <div class="form_validation">
        <a href="/adhesion/accueil-adhesion-questionnaire" ng-click="adhesionRepCtrl.removeStep1Session()">{{'labels.relationClient.adhesionRep.RETOUR' | translate}}</a>
        <input type="button" class="btn suivant" ng-disabled="adhesionRepCtrl.form_etape1_question1_rep==undefined" ng-click="adhesionRepCtrl.etape1Validation()" value="{{'labels.relationClient.adhesionRep.SUIVANT' | translate}}">
    </div>
</div>
