<div class="mymodal">


    <h1>{{'labels.relationClient.adhesionRestreinte.popupDoneNotSigner.title' | translate}}</h1>
    <a class="close-icon" href="/adhesion/accueil-adhesion-questionnaire"></a>
  <!--   <a class="close-icon" ng-click="popupsAdhesionCtrl.closePopup('reject')" data-ng-if="false"></a-->

    <p> {{'labels.relationClient.adhesionRestreinte.popupDoneNotSigner.MSG1' | translate}}</p>
    

     <button class="btn" onclick='window.location="/adhesion/accueil-adhesion-questionnaire"'>{{'labels.relationClient.adhesionRestreinte.popupDoneNotSigner.BTN' | translate}}</button>
</div>



