<div id="loaders">
    <div id="loadballs" ng-if="loadersCtrl.loadballsFlag">
    	<div class="bal0"></div>
        <div class="bal1"></div>
        <div class="bal2"></div>
        <div class="bal3"></div>
        <div class="bal4"></div>
        <div class="bal5"></div>
        <div class="bal6"></div>
        <div class="bal7"></div>
        <div class="bal8"></div>
    </div>

    <div id="quarter" class="loader" ng-if="loadersCtrl.quarterFlag"></div>

    <div id="transclude" ng-transclude></div>
</div>
