<div class="mymodal">
    <a class="close-icon" ng-click="choixdeclarationCtrl.closeModal()"></a>
    <div class="list_widget">
	     <div class="widget_uvc"> 
		    <div  class="bloc_saisie" ng-click="choixdeclarationCtrl.GoToDelarationEnLigne()">
                <div class="enligne"></div>
		        <h4>{{'labels.declaration.choixdeclaration.choix_mode_saisi.TITLE_DECLARATION_LIGNE' | translate}}</h4>

		    </div>
		    <p>{{'labels.declaration.choixdeclaration.choix_mode_saisi.LABEL_DECLARATION_FORFAIT_DECLARATION_EN_LIGNE_UN' | translate}}
		     <strong>{{'labels.declaration.choixdeclaration.choix_mode_saisi.LABEL_DECLARATION_FORFAIT_DECLARATION_EN_LIGNE_DEUX' | translate}}</strong>
		      {{'labels.declaration.choixdeclaration.choix_mode_saisi.LABEL_DECLARATION_FORFAIT_DECLARATION_EN_LIGNE_TROIS' | translate}}</p>
	    </div> 
	    <div class="widget_uvc">
		    <div class="bloc_saisie" ng-click="choixdeclarationCtrl.openExcelOptionsModal()">
                <div class="excel"></div>
		        <h4>{{'labels.declaration.choixdeclaration.choix_mode_saisi.TITLE_DECLARATION_EXCEL' | translate}}</h4>
		    </div>
		    <p>{{'labels.declaration.choixdeclaration.choix_mode_saisi.LABEL_DECLARATION_FORFAIT_DECLARATION_SUR_EXCEL_UN' | translate}}
		    <strong>{{'labels.declaration.choixdeclaration.choix_mode_saisi.LABEL_DECLARATION_FORFAIT_DECLARATION_SUR_EXCEL_DEUX' | translate}}</strong>
		    {{'labels.declaration.choixdeclaration.choix_mode_saisi.LABEL_DECLARATION_FORFAIT_DECLARATION_SUR_EXCEL_TROIS' | translate}}</p>
	    </div>
    </div>
</div>










